<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla Global Automation</title>
        </head>
<body>
    <div>
        <h1> Witam serdecznie Panów Automatyków!</h1>
        <h2> W jaki sposób dziś zmieniacie KK?</h2>
    </div>
    <div>
        <p>To jest akapit</p>
        <em>ADSFDSAFA</em><br>
        <strong>Link do mojego github</strong><br>
        <a href="https://github.com/konrad1948">LINK</a>
    </div>
    <div>
        <ul>
        <li>Elementy listy</li>
        </ul>
    </div>
</body>
</html>